body{
    text-align: center;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 50px;
}
button{
    padding: 8px 25px;
    background-color: white;
    border-radius: 10px;
    font-size: large;
}
button:hover{
    cursor: pointer;
}
button:active{
    background: #cca3a3;
}